language: rust
matrix:
  include:
    - rust: stable
      before_install:
        - sudo apt-get update
        - sudo apt-get -y install libsndfile1-dev
    - rust: beta
      before_install:
        - sudo apt-get update
        - sudo apt-get -y install libsndfile1-dev
    - rust: nightly
      before_install:
        - sudo apt-get update
        - sudo apt-get -y install libsndfile1-dev
    - rust: stable
      before_script:
        - pip install 'travis-cargo<0.2' --user && export PATH=$HOME/.local/bin:$PATH
      script:
        - cargo doc --no-deps --all-features
      after_success:
        - travis-cargo --only nightly doc-upload
script:
  - cargo test --all-features
  - cargo clean
  - cargo test
